* { 
  margin : 0; 
  padding : 0;
  box-sizing : border-box;
}
body {
    font-size: 15pt;
    min-height : 200vh;
    text-align : center;
}
#nav {
  background : white; 
  padding : 10px ; 
  position : fixed; 
  width : 100vw;
  top : 0px;
  z-index :10;
}
#menu {
  height : 0px ; 
  overflow : hidden ; 
  transition : all 300ms;
}
#nav:hover > #menu {
  height : 300px;
}
#menu span {
  display : block ;
  padding : 10px;
}
#intro {
  background : #373737;
  min-height : 300px;
  padding : 100px 20px;
  color : #B3B3B3;
}
#intro h1 { 
  color : white ;
  text-align : center;
}
.card {
  padding : 10px;
  margin : 10px;
  box-shadow : 0px 0px 10px 0px #A8A8A8;
  border-radius : 10px;
}
#brand {
  font-family : cursive; 
  font-weight : bolder ;
}
.imp {
  color : white;
  font-size : 25px;
  font-style : italic;
}
#me {
  width : 200px ; 
  height : 200px ; 
  border-radius : 50%; 
}
section {
  max-width : 600px;
  margin-left : auto ; 
  margin-right : auto ; 
  padding : 0px 10px;
}
img {
  max-width : 90vw;
}
.tch {
  font-weight : bolder;
}
dt {
  font-weight : bold;
}
footer {
  min-height : 300px ;
  background : #373737;
  margin-top : -10px;
  padding-top : 50px;
  color : #B3B3B3;
}
svg {
  margin-bottom : 0px;
}